.accordion-plugin {
  /* The 'show class is added to the accordion panel when the user clicks on one of the buttons. */
}
.accordion-plugin .u-transition {
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.accordion-plugin .accordion {
  margin-bottom: 10px;
}
.accordion-plugin .accordion {
  background-color: #f8f8f8;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.accordion-plugin .accordion-title {
  background-color: transparent;
  cursor: pointer;
  padding: 20px 25px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: larger;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.accordion-plugin .accordion-title:hover {
  background-color: #f0f0f0;
}
.accordion-plugin .accordion-content {
  padding: 0 25px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.accordion-plugin .accordion-content.show {
  opacity: 1;
  height: auto;
  padding-bottom: 20px;
}
.accordion-plugin .accordion-title .accordion-toggleIcon:after {
  font-size: 13px;
  content: '\e080';
}
.accordion-plugin .accordion-title.active .accordion-toggleIcon:after {
  content: '\e114';
}
